@charset "UTF-8";
/* 변수 */
:root {
  --basic-box-padding: 50px 60px;
  --basic-border: 1px solid #bfbfbf;
}

html {
  scroll-behavior: smooth;
}

/* 공통 사용 */
.uLine {
  position: relative;
  line-height: 1.1;
  font-style: italic;
  color: inherit;
}

.uLine::before {
  transform-origin: right;
  transform: scaleX(1);
  transition-delay: 0s;
}

.uLine::after {
  transform-origin: left;
  transform: scaleX(0);
  transition-delay: 0s;
}

.uLine::before, .uLine::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.uLine::before, .uLine:hover::after {
  transform: scaleX(1);
  transition-delay: 0.25s;
}

.uLine:hover::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

/* page main */
.pageScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 9999;
}

.pageScreen .downToup {
  width: 33.5%;
  height: 0%;
  background-color: rgb(240, 100, 70);
  display: none;
}

.pageScreen .downToup.on {
  height: 100%;
  display: block;
  -webkit-animation: downToup 1.5s cubic-bezier(0.98, 0.01, 0.43, 1);
          animation: downToup 1.5s cubic-bezier(0.98, 0.01, 0.43, 1);
}

.pageScreen .downToup.on:nth-child(2) {
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

.pageScreen .downToup.on:nth-child(3) {
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
}

/* animation */
@-webkit-keyframes downToup {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes downToup {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@-webkit-keyframes bgScale {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes bgScale {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes imgScale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes imgScale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes imgScale2 {
  0% {
    transform: translateX(-25%) scale(1.2);
  }
  100% {
    transform: translateX(-25%) scale(1);
  }
}
@keyframes imgScale2 {
  0% {
    transform: translateX(-25%) scale(1.2);
  }
  100% {
    transform: translateX(-25%) scale(1);
  }
}
@-webkit-keyframes titleRising {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes titleRising {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes journalRising {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes journalRising {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* header */
header {
  position: fixed;
  height: 100%;
  z-index: 999;
  right: 0;
  font-family: "the-serif";
}

header .headerLeft {
  background-color: #fff;
  width: 3.75em;
  height: 100%;
  border-left-width: 1px;
  display: flex;
  position: relative;
  z-index: 999999;
  transition: 0.5s;
}

header .headerLeft .Head {
  font-size: 0.975em;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
  position: absolute;
  z-index: 99999;
  padding-top: 45px;
  transition: 0.5s;
}

header .headerLeft .Head.off span {
  opacity: 0;
}

header .headerLeft .Head .headLogoChange {
  opacity: 0;
  transform: translate(66%, -22%) rotate(0deg);
  transition: 0.5s;
  position: absolute;
}

header .headerLeft .Head .headLogoChange svg {
  width: 20px;
  height: 127px;
}

header .headerLeft .Head.off .headLogoChange {
  opacity: 1;
  width: 50%;
}

header .headerLeft .headProgress {
  font-size: 0.975em;
  font-style: italic;
  font-weight: 300;
  z-index: 99999;
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg) translateY(40px);
  padding-bottom: 55px;
}

header .headerLeft .Head span {
  display: block;
  color: #000;
  transform: rotate(-90deg);
}

header .headerLeft .HeaderBtn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .headerLeft .HeaderBtn .btnLine {
  display: block;
  width: 1px;
  height: 32px;
  background-color: #000;
  transition: 0.5s;
}

header .headerLeft .HeaderBtn .btnLine:nth-child(2) {
  margin: 0px 5px;
}

header .headerLeft.active .HeaderBtn .Line1 {
  transform: rotate(26deg) translateX(6px);
}

header .headerLeft.active .HeaderBtn .Line2 {
  height: 0;
}

header .headerLeft.active .HeaderBtn .Line3 {
  transform: rotate(-26deg) translateX(-6px);
}

/* 펼쳐지는 메뉴 */
header .gnbBack {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

header #gnb {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: 1s;
  background-color: white;
  cursor: pointer;
  z-index: 9999;
}

header #gnb li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 3em;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

header #gnb li:nth-child(1):hover {
  background-color: #f06446;
}

header #gnb li:nth-child(1):hover a {
  color: white;
}
header #gnb li:nth-child(2):hover {
  background-color: #f06446;
}

header #gnb li:nth-child(2):hover a {
  color: white;
}

header #gnb li:nth-child(3):hover {
  background-color: #f06446;
}

header #gnb li:nth-child(3):hover a {
  color: white;
}

header #gnb li:nth-child(4):hover {
  background-color: #f06446;
}

header #gnb li:nth-child(4):hover a {
  color: white;
}

/* 메뉴오픈 */
/* 펼쳐졌을 때 */
header #gnb.active {
  width: 80vw;
  height: 100vh;
}

header #gnb.active + .gnbBack {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

header #gnb.active li {
  border: 1px solid #bfbfbf;
  position: absolute;
  transition: 1s;
  background-color: white;
}

header #gnb.active li:nth-child(1) {
  /* about */
  z-index: 999;
  /* background-color: #f06446; */
  right: 70px;
  top: 0;
  width: 25%;
  height: 25%;
}

/* header #gnb.active li:nth-child(1) a {
  color: white;
} */

header #gnb.active li:nth-child(2) {
  z-index: 99;
  right: 70px;
  top: 0;
  width: 50%;
  height: 50%;
}

header #gnb.active li:nth-child(3) {
  z-index: 9;
  right: 70px;
  top: 0;
  width: 75%;
  height: 75%;
}

header #gnb.active li:nth-child(4) {
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* main */
/* .scrollBox{
    // overflow-x:hidden;
} */
#mainWrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  font-family: "the-serif", sans-serif;
  font-weight: 300;
  position: relative;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
#mainWrapper::-webkit-scrollbar {
  display: none;
}

#mainWrapper #logoContainer {
  width: 120px;
  padding: 30px 18px 18px 30px;
  position: absolute;
  z-index: 99;
  opacity: 1;
  transition: 0.5s;
}

#mainWrapper #logoContainer a {
  display: block;
}

#mainWrapper section {
  /* width:100%; */
  height: 100%;
  flex-shrink: 0;
}

#FirstContainer {
  background-image: url("/images/main_img/1665158307-studio-rhe-hero.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  -webkit-animation: bgScale 1.5s 0.3s ease;
          animation: bgScale 1.5s 0.3s ease;
  width: 1902px;
}

#FirstContainer .introbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

#FirstContainer .introbox .topLeftComment {
  /* position: absolute; */
  top: 50px;
  right: 150px;
  width: 480px;
  font-size: 1.75em;
  font-weight: 300;
  color: #fff;
  margin-right: 102px;
  overflow: hidden;
}

#FirstContainer .introbox .topLeftComment span {
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-animation: titleRising 1.5s ease;
          animation: titleRising 1.5s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#FirstContainer .introbox .topLeftComment span:nth-child(2) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

#FirstContainer .introbox .topLeftComment span:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#FirstContainer .introbox .h2Title {
  letter-spacing: -0.005em;
  font-size: 12.13vw;
  width: 100%;
  text-align: center;
  text-indent: -50px;
  color: #fff;
  z-index: 99;
  overflow: hidden;
}

#FirstContainer .introbox .h2Title .titRight, .titLeft {
  display: inline-block;
}

#FirstContainer .introbox .h2Title .titLeft span {
  -webkit-animation: titleRising 1.5s ease;
          animation: titleRising 1.5s ease;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  display: inline-block;
}

#FirstContainer .introbox .h2Title .titRight span {
  -webkit-animation: titleRising 1.5s ease;
          animation: titleRising 1.5s ease;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  display: inline-block;
}

/* span 부분 애니메이션 삽질 */
#FirstContainer .introbox .h2Title .titLeft span:nth-child(2) {
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(3) {
  -webkit-animation-duration: 1.65s;
          animation-duration: 1.65s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(4) {
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(5) {
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(6) {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(7) {
  -webkit-animation-duration: 1.85s;
          animation-duration: 1.85s;
}

#FirstContainer .introbox .h2Title .titLeft span:nth-child(8) {
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
}

#FirstContainer .introbox .h2Title .titRight {
  margin-left: 100px;
}

#FirstContainer .introbox .h2Title .titRight span {
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(2) {
  -webkit-animation-duration: 1.95s;
          animation-duration: 1.95s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(3) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(4) {
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(5) {
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(6) {
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(7) {
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
}

#FirstContainer .introbox .h2Title .titRight span:nth-child(8) {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

/* span 애니메이션 삽질 끝 */
#FirstContainer .shadowBox {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
}

#mainWrapper #secondContainer {
  display: flex;
  width: 160.9896vw;
}

#secondContainer .introduction {
  padding: var(--basic-box-padding);
  width: 34%;
  height: 100%;
  border-right: var(--basic-border);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#secondContainer .introduction .upper {
  display: flex;
  width: 100%;
  height: 273px;
  justify-content: space-between;
}

#secondContainer .introduction .upper .greeting {
  font-family: "the-sans", sans-serif;
  font-size: 0.975em;
  font-weight: 500;
  text-transform: capitalize;
}

#secondContainer .introduction .upper .imgBox {
  width: 210px;
  height: 100%;
  overflow: hidden;
}

#secondContainer .introduction .upper .imgBox img {
  max-width: none;
  height: 100%;
  transform: translate(-25%);
}

#secondContainer .introduction .downer .downTit {
  font-size: 2.625em;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -0.025em;
  text-transform: capitalize;
  margin-bottom: 20px;
}

#secondContainer .introduction .downer .downText {
  font-family: "the-sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 40px;
}

#secondContainer .introduction .downer .downText span {
  display: block;
}

#secondContainer .portFolio {
  width: 100%;
  height: 100%;
  padding: var(--basic-box-padding);
  border-right: var(--basic-border);
}

#secondContainer .portFolio #folios {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#secondContainer .portFolio #folios .artwork .flexBox {
  min-width: 710px;
  width: 710px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

#secondContainer .portFolio #folios .artwork .imgSizeBox {
  width: 100%;
  overflow: hidden;
  flex: 1 1 0%;
}

#secondContainer .portFolio #folios .artwork .imgSizeBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#secondContainer .portFolio #folios .artwork .textLine {
  /* display:flex; */
  flex-direction: column;
  padding-top: 1.25em;
}

#secondContainer .portFolio #folios .artwork .textLine .workName {
  font-weight: 700;
  font-family: "the-sans", "the-serif", sans-serif;
  font-size: 0.88em;
  line-height: 1.1;
  margin-bottom: 10px;
}

#mainWrapper #thirdContainer {
  width: 97.9167vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#thirdContainer .whatWeDo {
  min-width: 930px;
  height: 100%;
  padding: var(--basic-box-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#thirdContainer .whatWeDo .h2doTitle {
  font-family: "the-sans", "the-serif", sans-serif;
  font-weight: 700;
  font-size: 0.925em;
  text-align: center;
  text-transform: capitalize;
}

#thirdContainer .whatWeDo .textWarpper {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#thirdContainer .whatWeDo .textWarpper p:first-child {
  font-size: 2.625em;
}

#thirdContainer .whatWeDo .textWarpper .marginText {
  margin-top: 30px;
  font-size: 1.313em;
  font-style: italic;
}

#thirdContainer .imgWrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#thirdContainer .imgWrapper .movement {
  min-width: 1250px;
  position: absolute;
  top: -16em;
  left: -9.375em;
  right: -9.375em;
}

#mainWrapper #fourthContainer {
  width: 167.5em;
  display: flex;
}

#mainWrapper #fourthContainer .journalBox {
  width: 58%;
  padding: 50px 60px 0px 50px;
  background-color: rgb(240, 100, 70);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#mainWrapper #fourthContainer .journalBox .textBox {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: #fff;
}

#mainWrapper #fourthContainer .journalBox .textBox .h2Title {
  font-size: 2.625em;
  font-weight: 500;
  line-height: 1.1;
}

#mainWrapper #fourthContainer .journalBox .textBox .flexBox {
  margin-top: 30px;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox {
  overflow: hidden;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform {
  font-size: 16.875em;
  font-weight: 300;
  letter-spacing: -0.025em;
  display: inline-block;
  color: #fff;
  line-height: 1.1;
  overflow: hidden;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on {
  -webkit-animation: journalRising 1s ease;
          animation: journalRising 1s ease;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#mainWrapper #fourthContainer .journalBox .aniTextBox .aniTransform.on:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

/* journalList */
#mainWrapper #fourthContainer .journalList {
  width: 80%;
  padding: 50px 120px 50px 60px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas: "first second" "first third";
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
  row-gap: 3.125em;
}

#mainWrapper #fourthContainer .journalList .contBox {
  display: flex;
  flex-direction: column;
}

#mainWrapper #fourthContainer .journalList .contBox:first-child {
  grid-area: first;
}

#mainWrapper #fourthContainer .journalList .contBox:nth-child(2) {
  grid-area: second;
}

#mainWrapper #fourthContainer .journalList .contBox:nth-child(3) {
  grid-area: third;
}

#mainWrapper #fourthContainer .journalList .contBox figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30%;
  flex: 1 1 0%;
}

#mainWrapper #fourthContainer .journalList .contBox .articleName {
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: "the-sans";
  font-weight: 700;
  font-size: 0.875em;
}

#mainWrapper #fourthContainer .journalList .contBox .linkBox {
  text-transform: capitalize;
}

#mainWrapper #fourthContainer .journalList .contBox figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}