@charset "UTF-8";
html{
    scroll-behavior: smooth;
    font-size: calc(100vw/var(--size)*10);
}
body{
    font-size: clamp(12px,18px,1.4rem);
    -ms-overflow-style: none;
  }
  
 ::-webkit-scrollbar {
   display: none;
}
/* 로고 */
.logo {position: fixed; top: 0;width:7.136vw; z-index: 9999; transition: .3s;}
.logo svg{padding: 1.5625vw;}
.logo.active { opacity: 0;}
/* 헤더 */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    margin-top: 130px;
}
header h1 {
    font-size: 13.3045vw;
    font-family: 'the-serif';
    font-weight: 500;
    padding: 0 6.25vw 0 3.125vw;
}
header .wrapper {
    width: 100%;        
}
header .wrapper .menu {
    height: 4.6354vw;
}

.menu .gnb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6.25vw 0 3.125vw;
    font-size: .834vw;
    line-height: 4.6354vw;

    background-color: #fff; /* 임시 */
}
.menu .gnb li a {
    transition-duration: .3s;
    font-family: 'the-sans';
    font-weight: bold;
    margin: 0 0.7rem;
    color: rgba(0, 0, 0, 0.25);
}
.menu .gnb li:nth-child(3) a{
    color: #000;
}
.menu .gnb li a:hover {
    color: #000;
}

.menu {
    width: 100%;
    position: sticky;
    z-index: 6;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}



/* 메인 */
main {
    background-color: #fff;
    position: relative;
    z-index: 5;
}
main .mainWrapper {
    padding: 3.125vw 6.25vw 5.20835vw 3.125vw;
    display: flex;
    justify-content: space-around;
}
main .mainWrapper article {
    margin: 0;
    margin-bottom: 40px;
}
main .mainWrapper article a {
    display: flex;
    flex-direction: column;
    width: 28.125vw;
    margin: 0;
    color: #000;
    font-size: 14px;
    
    overflow: hidden;
}
main .mainWrapper article a h2 {
    margin-top: 20px;
    font-family: 'the-sans';
    font-weight: bold;
}

main .mainWrapper article span {
    font-family: 'the-serif';
    font-style: italic;
    margin-top:0.525vw;

}
main .mainWrapper article a span::before {
    content: "Read more";
}
main .mainWrapper article a span::after {
  content: '';
  display:block;
  width: 63px;
  border-bottom: 1px solid #000;
  transition: .3s;
  transform-origin:  100% 50%;
  transform: scaleX(1);
  transition-delay: .3s;
}
main .mainWrapper article a span:hover::after {
  content: '';
  transition: .3s;
  transform: scaleX(0);
}

main .mainWrapper article a span .border::after {
  content: '';
  display: block;
  border-bottom: #000 1px solid;
  width: 63px;
  transition: .3s;
  
  transform-origin: 0% 100%;
  transform: scaleX(0);
}
main .mainWrapper article a span:hover .border::after {
  content: '';
  transition-delay: .3s;
  transform: scale(1);
} 



main .mainWrapper article a img{
    object-fit: cover;
    transition: .3s;
}

main .mainWrapper article a img:hover {
    transform: scale(1.02);
}

main .mainWrapper article.box1 a img{height: 21.9246vw;}
main .mainWrapper article.box2 a img{height: 28.8224vw;}
main .mainWrapper article.box3 a img{height: 24.8193vw;}
main .mainWrapper article.box4 a img{height: 30.7642vw;}
main .mainWrapper article.box5 a img{height: 29.6965vw;}
/* 최하단 */
.footer {
    height: 250px;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.footer a {
    font-family: 'the-serif';
    font-style: italic;
    color: #000;
    position: fixed;
    text-align: center;
    bottom: 125px;
    left: 50%;
  transform: translateX( -50% );
  z-index: 1;
}
.footer a span::after {
  content: "";
  display: block;
  border-bottom: #000 1px solid;
  transition: .3s;
  transform-origin:  100% 50%;
  transform: scaleX(1);
  transition-delay: .3s;
}
.footer a span:hover::after {
  content: '';
  transition: .3s;
  transform: scaleX(0);
}
.footer span .border::after {
  content: '';
  display: block;
  border-bottom: 1px solid #000;
  transition: .3s;
  transform-origin: 0% 100%;
  transform: scaleX(0);
}
.footer span .border:hover::after {
  content: '';
  transition-delay: .3s;
  transform: scale(1);
}

/* 우측 메뉴 바 */
#wrapper {
    position: fixed;
    height: 100vh;
    width: 23px;
    top: 0;
    right: 0;
    z-index: 99999;
    font-family: 'the-serif';
}
#wrapper .menuBar {
    width: 70px;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: white;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 23px;
    z-index: 99999;
  }
  /* 메뉴바 로고 */
  #wrapper .menuBar .rhe {
    text-decoration: none;
    color: black;
    font-style: italic;
    transition: 1s;
  }
  #wrapper .menuBar .rhe svg {
    transition: 1s;
    opacity: 0;
  }
  #wrapper .menuBar .rhe p {
    opacity: 1;
    transition: 1s;
    transform: rotate(-90deg) translateX(110px);
  }
  /* 메뉴 아이콘 */
  #wrapper .menuBar #toggleBtn {
    position: relative;
    height: 15px;
    transform: rotate(-90deg) translateX(55px);
  }
  #wrapper .menuBar #toggleBtn span {
    text-indent: -9999px;
    position: absolute;
    width: 33px;
    height: 1px;
    background-color: black;
    transition: 0.5s;
  }
  #wrapper .menuBar #toggleBtn .bar1 {
    top: 0;
    transform-origin: top left;
  }
  #wrapper .menuBar #toggleBtn .bar2 {
    top: 50%;
    transform: translateY(-50%);
  }
  #wrapper .menuBar #toggleBtn .bar3 {
    bottom: 0;
    transform-origin: bottom left;
  }
  /* 메뉴아이콘 클릭했을 때 js */
  
  #wrapper .menuBar.on {
  }
  
  #wrapper .menuBar.on #toggleBtn .bar1 {
    top: 0;
    transform: rotate(25deg);
  }
  #wrapper .menuBar.on #toggleBtn .bar2 {
    width: 0;
  }
  #wrapper .menuBar.on #toggleBtn .bar3 {
    transform: rotate(-25deg);
  }
    /* 펼쳐지는 메뉴 */
    #wrapper #gnb {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      transition: 1s;
      background-color: white;
      cursor: pointer;
      z-index: 9999;
    }
    
    #wrapper #gnb li a {
      display: block;
      text-decoration: none;
      color: black;
      font-size: 3em;
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
    #wrapper #gnb li:nth-child(1):hover {
      background-color: #f06446;
    }
    #wrapper #gnb li:nth-child(1):hover a {
      color: white;
    }
    #wrapper #gnb li:nth-child(2):hover {
      background-color: #f06446;
    }
    #wrapper #gnb li:nth-child(2):hover a {
      color: white;
    }
    #wrapper #gnb li:nth-child(3):hover {
      background-color: #f06446;
    }
    #wrapper #gnb li:nth-child(3):hover a {
      color: white;
    }
    #wrapper #gnb li:nth-child(4):hover {
      background-color: #f06446;
    }
    #wrapper #gnb li:nth-child(4):hover a {
      color: white;
    }
    
    /* 펼쳐졌을 때 */
  #wrapper #gnb.active {
    width: 80vw;
    height: 100vh;
  }
  #wrapper #gnb.active li {
    border: 1px solid #bfbfbf;
    position: absolute;
    transition: 1s;
    background-color: white;
  }
  #wrapper #gnb.active li:nth-child(1) {
    /* about */
    z-index: 999;
    right: 70px;
    top: 0;
    width: 25%;
    height: 25%;
  }
  #wrapper #gnb.active li:nth-child(2) {
    z-index: 99;
    right: 70px;
    top: 0;
    width: 50%;
    height: 50%;
  }
  #wrapper #gnb.active li:nth-child(3) {
    z-index: 9;
    right: 70px;
    top: 0;
    width: 75%;
    height: 75%;
  }
  #wrapper #gnb.active li:nth-child(4) {
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  /* 스크롤 인디케이터 */
  #wrapper .menuBar .scrollIndi {
    width: 50px;
    height: 50px;
    color: black;
    transform: rotate(-90deg);
  }
  
